
body{
    color:white;
    background:black;
    margin:0px;
    font-family: "Playfair Display", serif;
    margin-bottom:100px;
}

header{
    border-bottom: solid 2px rgb(20, 237, 245);
    font-size: 30px;
    padding: 20px;
    color: rgb(20, 237, 245);
}

.descricao-text{
    background: rgb(224, 171, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.descricao{
    margin-right: 5%;
}

h1{
    font-size: 38px;
}

p{
    font-size: 18px;
}

.videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categorias{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.videos img{
    opacity: 0.5;
    height: 200px;
}

.videos img:hover{
    opacity: 1.0;
    border: 2px solid yellow;
}

.categorias h2{
    color: rgb(20, 237, 245)
}